body{
  width: 800px;
  margin: 0 auto;
}

div{
  display: inline-grid;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 10px;
  width: 155px;
  padding: 5px;
}

.robo_name {
  color: #5DADE2;
  font-size: large;
  font-weight: bold;
  font-family: sans-serif, serif, arial;
}

.robo_jobtitle, .robo_company{
  font-size: smaller;
  font-family: arial;
  margin: 2px;
}
